* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: #cecbcb;
    color: #222;
    line-height: 1.6;
}

a {
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: #915356;
}

header, footer {
    background: #915356;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-family: Jaro;
    font-size: 28px;
    font-weight: bold;
}
footer {
    margin-top: 20px;
    font-size: 14px;
}
footer a {
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}

nav .menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
nav .menu li a {
    color: #fff;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.destaques {
    flex: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.noticia-principal
{
    background: #fff;
    padding: 5%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.outras-noticias article {
    background: #fff;
    padding: 10%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.noticia-principal img{
    width: 70%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;

}
.outras-noticias img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: transform 0.3s;
    
}
.noticia-principal img:hover, 
.outras-noticias img:hover {
    transform: scale(1.03);
}

.noticia-principal h2, 
.outras-noticias h3 {
    color: #915356;
    font-weight: bold;
    margin-bottom: 10px;
}
.noticia-principal p,
.outras-noticias p {
    font-size: 14px;
    margin-bottom: 5px;
}
.noticia-principal .leia-mais, 
.outras-noticias .leia-mais {
    color: #995f62;
    font-weight: bold;
    transition: color 0.3s;
}
.noticia-principal .leia-mais:hover, 
.outras-noticias .leia-mais:hover {
    color: #5f0005;
}

.categorias h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.categoria h3 a {
    display: flex;
    justify-content: center;
    color: #995f62;
    transition: color 0.3s;
}
.categoria h3 a:hover {
    color: #6d0207;
}

.outras-noticias {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    main {
        padding: 0 10px;
    }
    .outras-noticias {
        grid-template-columns: 1fr;
    }
}